{:paths ["/Users/andrzejfricze/rust-jolt/jolt-rust-interop-handoff/diplomat-backend/regex-demo/jolt-project/src"
         "/Users/andrzejfricze/rust-jolt/jolt-rust-interop-handoff/diplomat-backend/regex-demo/generated"
         "/Users/andrzejfricze/rust-jolt/jolt-rust-interop-handoff/diplomat-backend/jolt-runtime"]}
